<a href="https://colab.research.google.com/github/monly98/Conversion-of-csv-rows-into-grayscale-imges-/blob/main/fucntion_for_one_hot_coding_of_most_frquent_category_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
df=pd.read_excel('/content/do_it.xlsx')
df.head()
df.shape

(613, 31)

In [ ]:
# finding the top 10 categories
df['ETL_stack_sequence'].value_counts().sort_values(ascending=False).head(10)

TiO2-c | TiO2-mp       207
TiO2-c                  82
PCBM-60 | BCP           41
SnO2-np                 39
C60 | BCP               37
PCBM-60                 35
TiO2-np                 34
PCBM-60 | bis-C60       30
PCBM-60 | C60 | BCP     16
SnO2-c                  12
Name: ETL_stack_sequence, dtype: int64

In [ ]:
# make list with top 8 variables
top_10 = [x for x in df['ETL_stack_sequence'].value_counts().sort_values(ascending=False).head(8).index]
top_10

['TiO2-c | TiO2-mp',
 'TiO2-c',
 'PCBM-60 | BCP',
 'SnO2-np',
 'C60 | BCP',
 'PCBM-60',
 'TiO2-np',
 'PCBM-60 | bis-C60']

In [ ]:
# for all categorical variables we selected
def top_x(df2,variable,top_x_labels):
  for label in top_x_labels:
    df2[label] = np.where(df[variable]==label,1,0)
top_x(df,'ETL_stack_sequence',top_10)
# display data
df.head()

,CS,FA,MA,BA,Pb,Sn,Sb,Bi,Br,I,...,JV_default_FF,Labels,TiO2-c | TiO2-mp,TiO2-c,PCBM-60 | BCP,SnO2-np,C60 | BCP,PCBM-60,TiO2-np,PCBM-60 | bis-C60
0,0.0,0.0,0.00,2.00,1.0,0.0,0.0,0.0,0.0,4.00,...,0.390,3,0,1,0,0,0,0,0,0
1,0.0,0.0,0.75,0.50,1.0,0.0,0.0,0.0,0.0,3.25,...,0.358,3,0,0,0,0,0,0,0,0
2,0.0,0.0,0.67,0.67,1.0,0.0,0.0,0.0,0.0,3.33,...,0.587,3,0,0,0,1,0,0,0,0
3,0.0,0.0,0.00,2.00,1.0,0.0,0.0,0.0,2.3,0.80,...,0.789,2,1,0,0,0,0,0,0,0
4,0.0,1.0,0.00,0.00,1.0,0.0,0.0,0.0,0.0,3.00,...,0.645,2,1,0,0,0,0,0,0,0